@mixin row($justify: start, $align: start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin column($align: start, $justify: start) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}
